@font-face {
    font-family: SF-Pro;
    src: url(../fonts/SF-Pro.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    
    background-color: #262626;
    
    font-family: SF-Pro, sans-serif;
    color: white;
}

h1, h2, p {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: rgba(140, 132, 90, 0.7);
    width: 100%;
    height: 3.75rem;
    justify-content: left;
}

header > h1 {
    margin: 0;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    width: max-content;
    height: 100%;

    align-content: center;

    margin-left: 2.0625rem;
}

header > h1 > span {
    opacity: 50%;
}

main {
    margin-top: 2.0625rem;
    margin-left: 2.62500rem;
}

main > article {
    margin-bottom: 2.1625rem;
    max-width: 47.8125rem;
    opacity: 90%;
}

main > article > h1 {
    margin-bottom: 0.6rem;
    font-weight: 700;
    font-size: 1.5625rem;
}

main > article > h2 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    opacity: 60%;
}

main > article > p {
    color: rgba(210, 210, 210, 0.65);

    font-weight: 400;
    font-size: 2vh;
}

main > article a {
    color: rgb(210, 210, 210);
    cursor: pointer;
    /* text-decoration: none; */
}

aside {
    position: absolute;
    margin: 0;
    top: 5rem;
    right: 3.25rem;
}

aside > img {
    max-width: 280px;
    border-radius: 10px;
}

header > nav {
    display: flex;
    position: absolute;
    height: 3.75rem;
    right: 0;
    justify-self: center;
    align-self: center;
}

header > nav > a {
    color: rgba(255, 255, 255, 50%);
    margin: 20px 20px;
    text-decoration: none;
}

header > nav > a#selected {
    color: white;
}

span.blur {
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

span.blur::selection {
    background: none;
}

@media screen and (max-width: 1138px) {
    main {
        max-width: 100%;
        margin: 2rem;
    }

    aside {
        position: relative;
        top: auto;
        right: auto;
        margin: 20px auto;
        text-align: center;
    }

    header {
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }

    header > nav {
        right: auto;
        text-align: center;
    }

    header > h1 {
        font-size: 18px;
        /* margin-right: 55%; */
        display: none;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    main > article {
        text-align: center;
    }
}